{% extends 'adminbase.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="agileinfo-grap">

        <header class="panel-heading">
            Add New User
        </header>

    {{ include('admin/user/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('admin_user_index') }}">back to list</a>
    </div>
{% endblock %}
