<header id="header-area" class="fixed-top">
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> 802/2, Mirpur, Dhaka
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +1 800 345 678
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Social Icons Start ==-->
                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: currentcolor none medium;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" style="display: none;" role="menu" aria-hidden="true">
                        <ul>
                            <li class="active slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: currentcolor none medium;"><a href="#">Home</a>
                                    <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                                    <li><a href="index.html" role="menuitem" tabindex="-1">Home 1</a></li>
                                    <li><a href="index2.html" role="menuitem" tabindex="-1">Home 2</a></li>
                                    <li><a href="index3.html" role="menuitem" tabindex="-1">Home 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html" role="menuitem">About</a></li>
                            <li><a href="services.html" role="menuitem">services</a></li>
                            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: currentcolor none medium;"><a href="#">Cars</a>
                                    <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                                    <li><a href="car-left-sidebar.html" role="menuitem" tabindex="-1">Car Left Sidebar</a></li>
                                    <li><a href="car-right-sidebar.html" role="menuitem" tabindex="-1">Car Right Sidebar</a></li>
                                    <li><a href="car-without-sidebar.html" role="menuitem" tabindex="-1">Car Without Sidebar</a></li>
                                    <li><a href="car-details.html" role="menuitem" tabindex="-1">Car Details</a></li>
                                </ul>
                            </li>
                            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: currentcolor none medium;"><a href="index.html">Pages</a>
                                    <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                                    <li><a href="package.html" role="menuitem" tabindex="-1">Pricing</a></li>
                                    <li><a href="driver.html" role="menuitem" tabindex="-1">Driver</a></li>
                                    <li><a href="faq.html" role="menuitem" tabindex="-1">FAQ</a></li>
                                    <li><a href="gallery.html" role="menuitem" tabindex="-1">Gallery</a></li>
                                    <li><a href="help-desk.html" role="menuitem" tabindex="-1">Help Desk</a></li>
                                    <li><a href="login.html" role="menuitem" tabindex="-1">Log In</a></li>
                                    <li><a href="register.html" role="menuitem" tabindex="-1">Register</a></li>
                                    <li><a href="404.html" role="menuitem" tabindex="-1">404</a></li>
                                </ul>
                            </li>
                            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: currentcolor none medium;"><a href="#">Blog</a>
                                    <span class="slicknav_arrow">►</span></a><ul role="menu" class="slicknav_hidden" style="display: none;" aria-hidden="true">
                                    <li><a href="article.html" role="menuitem" tabindex="-1">Blog Page</a></li>
                                    <li><a href="article-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html" role="menuitem">Contact</a></li>
                        </ul>
                    </nav></div>
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a href="index2.html" class="logo">
                        <img src="{{ asset('assets')}}/main/img/logo.png" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">services</a></li>
                            <li><a href="#">Cars</a>
                                <ul>
                                    <li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
                                    <li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
                                    <li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Pages</a>
                                <ul>
                                    <li><a href="package.html">Pricing</a></li>
                                    <li><a href="driver.html">Driver</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="help-desk.html">Help Desk</a></li>
                                    <li><a href="login.html">Log In</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul>
                                    <li><a href="article.html">Blog Page</a></li>
                                    <li><a href="article-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>