{% extends 'Main.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section id="slider-area">
        <!--== slide Item One ==-->
        <div class="single-slide-item overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="book-a-car">
                            <form action="index.html">
                                <!--== Pick Up Location ==-->
                                <div class="pickup-location book-item">
                                    <h4>PICK-UP LOCATION:</h4>
                                    <select class="custom-select">
                                        <option selected="">Select</option>
                                        <option value="1">Dhaka</option>
                                        <option value="2">Comilla</option>
                                        <option value="3">Barishal</option>
                                        <option value="3">Rangpur</option>
                                    </select>
                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Pick Up Date ==-->
                                <div class="pick-up-date book-item">
                                    <h4>PICK-UP DATE:</h4>
                                    <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group"><input id="startDate" placeholder="Pick Up Date" data-type="datepicker" data-guid="8fa19b8a-7659-e77c-2caf-bb4b10747070" data-datepicker="true" class="form-control" role="input" month="7" year="2020"><span class="input-group-append" role="right-icon"><span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span></span></div>

                                    <div class="return-car">
                                        <h4>Return DATE:</h4>
                                        <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group"><input id="endDate" placeholder="Return Date" data-type="datepicker" data-guid="54967a2e-6e52-0f1e-fed1-0089a0defff7" data-datepicker="true" class="form-control" role="input" month="7" year="2020"><span class="input-group-append" role="right-icon"><span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span></span></div>
                                    </div>
                                </div>
                                <!--== Pick Up Location ==-->

                                <!--== Car Choose ==-->
                                <div class="choose-car-type book-item">
                                    <h4>CHOOSE CAR TYPE:</h4>
                                    <select class="custom-select">
                                        <option selected="">Select</option>
                                        <option value="1">BMW</option>
                                        <option value="2">Audi</option>
                                        <option value="3">Lexus</option>
                                    </select>
                                </div>
                                <!--== Car Choose ==-->

                                <div class="book-button text-center">
                                    <button class="book-now-btn">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-7 text-right">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="slider-right-text">
                                    <h1>BOOK A CAR TODAY!</h1>
                                    <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== slide Item One ==-->
    </section>   
{% endblock %}
