{% extends 'Adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <section id="main-content">
    <section class="wrapper">
        <!-- //market-->
        <div class="market-updates">
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-2">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-eye"> </i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Visitors</h4>
                        <h3>13,500</h3>
                        <p>Other hand, we denounce</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-1">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Users</h4>
                        <h3>1,250</h3>
                        <p>Other hand, we denounce</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-3">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Sales</h4>
                        <h3>1,500</h3>
                        <p>Other hand, we denounce</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 market-update-gd">
                <div class="market-update-block clr-block-4">
                    <div class="col-md-4 market-update-right">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-8 market-update-left">
                        <h4>Orders</h4>
                        <h3>1,500</h3>
                        <p>Other hand, we denounce</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //market-->
        <div class="row">
            <div class="panel-body">
                <div class="col-md-12 w3ls-graph">
                    <!--agileinfo-grap-->
                    <div class="agileinfo-grap">
                        <div class="agileits-box">
                            <header class="agileits-box-header clearfix">
                                <h3>Visitor Statistics</h3>
                                <div class="toolbar">


                                </div>
                            </header>
                            <div class="agileits-box-body clearfix">
                                <div id="hero-area" style="position: relative;"><svg height="342" version="1.1" width="1086" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; top: -0.316681px;"><desc>Created with Raphaël 2.0.1</desc><defs></defs><text style="text-anchor: end; font: 12px sans-serif;" x="42.66666793823242" y="326.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#dddddd" d="M47.66666793823242,326.5H1076" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="42.66666793823242" y="247.375" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">5,000</tspan></text><path style="" fill="none" stroke="#dddddd" d="M47.66666793823242,247.375H1076" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="42.66666793823242" y="168.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">10,000</tspan></text><path style="" fill="none" stroke="#dddddd" d="M47.66666793823242,168.25H1076" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="42.66666793823242" y="89.12500000000003" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000000000000028">15,000</tspan></text><path style="" fill="none" stroke="#dddddd" d="M47.66666793823242,89.12500000000003H1076" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="42.66666793823242" y="10" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">20,000</tspan></text><path style="" fill="none" stroke="#dddddd" d="M47.66666793823242,10H1076" stroke-width="0.5"></path><text style="text-anchor: middle; font: 12px sans-serif;" x="1036.6087898794103" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2017-02</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="949.3853960409613" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-12</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="863.5688311353905" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-10</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="777.7522662298197" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-08</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="691.935701324249" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-06</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="606.1191364186782" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-04</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="521.768018318189" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2016-02</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="434.5446244797399" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2015-12</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="348.6694417019659" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2015-10</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="262.8528767963952" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2015-08</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="177.0363118908244" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2015-06</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="91.21974698525365" y="331.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">2015-04</tspan></text><path style="fill-opacity: 0.85;" fill="#efafaf" stroke="none" d="M47.66666793823242,284.2789C80.00907892638043,232.40455000000003,144.6939009026764,97.05664412797285,177.0363118908244,76.78150000000002C209.3933773470232,56.497169127972846,274.1075082594208,108.10174345549741,306.4645737156196,122.04100000000003C338.48458640664967,135.8350559554974,402.5246117887099,183.5597366960403,434.5446244797399,187.71475C466.54998270271915,191.86786169604028,530.5606991486777,157.06416488271466,562.5660573716569,155.2735C594.9084683598049,153.46397738271466,659.593290336101,161.4677150481314,691.935701324249,173.31400000000002C724.2927667804478,185.1656525481314,789.0068976928454,260.81146270491803,821.3639631490443,250.06525C853.3693213720235,239.43584395491803,917.380037817982,99.48130404005526,949.3853960409613,87.81152500000002C981.0390470307209,76.26998529005527,1044.3463490102404,139.8678625,1076,157.219975L1076,326.5L47.66666793823242,326.5Z" fill-opacity="0.85"></path><path style="" fill="none" stroke="#eb6f6f" d="M47.66666793823242,284.2789C80.00907892638043,232.40455000000003,144.6939009026764,97.05664412797285,177.0363118908244,76.78150000000002C209.3933773470232,56.497169127972846,274.1075082594208,108.10174345549741,306.4645737156196,122.04100000000003C338.48458640664967,135.8350559554974,402.5246117887099,183.5597366960403,434.5446244797399,187.71475C466.54998270271915,191.86786169604028,530.5606991486777,157.06416488271466,562.5660573716569,155.2735C594.9084683598049,153.46397738271466,659.593290336101,161.4677150481314,691.935701324249,173.31400000000002C724.2927667804478,185.1656525481314,789.0068976928454,260.81146270491803,821.3639631490443,250.06525C853.3693213720235,239.43584395491803,917.380037817982,99.48130404005526,949.3853960409613,87.81152500000002C981.0390470307209,76.26998529005527,1044.3463490102404,139.8678625,1076,157.219975" stroke-width="0"></path><circle cx="47.66666793823242" cy="284.2789" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="177.0363118908244" cy="76.78150000000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="306.4645737156196" cy="122.04100000000003" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="434.5446244797399" cy="187.71475" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="562.5660573716569" cy="155.2735" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="691.935701324249" cy="173.31400000000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="821.3639631490443" cy="250.06525" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="949.3853960409613" cy="87.81152500000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1076" cy="157.219975" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 0.85;" fill="#a58099" stroke="none" d="M47.66666793823242,326.5C80.00907892638043,271.90770625,144.6939009026764,129.83582956540207,177.0363118908244,108.13082500000002C209.3933773470232,86.41598581540205,274.1075082594208,138.5055454188482,306.4645737156196,152.820625C338.48458640664967,166.98658916884818,402.5246117887099,221.9540925340467,434.5446244797399,222.055C466.54998270271915,222.1558612840467,530.5606991486777,158.37001029378274,562.5660573716569,153.6277C594.9084683598049,148.83544779378275,659.593290336101,169.8376677675538,691.935701324249,183.91675C724.2927667804478,198.0022115175538,789.0068976928454,266.2202401639345,821.3639631490443,266.28587500000003C853.3693213720235,266.35079641393446,917.380037817982,185.7616958218232,949.3853960409613,184.438975C981.0390470307209,183.1307895718232,1044.3463490102404,237.93143125,1076,255.76225L1076,326.5L47.66666793823242,326.5Z" fill-opacity="0.85"></path><path style="" fill="none" stroke="#926383" d="M47.66666793823242,326.5C80.00907892638043,271.90770625,144.6939009026764,129.83582956540207,177.0363118908244,108.13082500000002C209.3933773470232,86.41598581540205,274.1075082594208,138.5055454188482,306.4645737156196,152.820625C338.48458640664967,166.98658916884818,402.5246117887099,221.9540925340467,434.5446244797399,222.055C466.54998270271915,222.1558612840467,530.5606991486777,158.37001029378274,562.5660573716569,153.6277C594.9084683598049,148.83544779378275,659.593290336101,169.8376677675538,691.935701324249,183.91675C724.2927667804478,198.0022115175538,789.0068976928454,266.2202401639345,821.3639631490443,266.28587500000003C853.3693213720235,266.35079641393446,917.380037817982,185.7616958218232,949.3853960409613,184.438975C981.0390470307209,183.1307895718232,1044.3463490102404,237.93143125,1076,255.76225" stroke-width="0"></path><circle cx="47.66666793823242" cy="326.5" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="177.0363118908244" cy="108.13082500000002" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="306.4645737156196" cy="152.820625" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="434.5446244797399" cy="222.055" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="562.5660573716569" cy="153.6277" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="691.935701324249" cy="183.91675" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="821.3639631490443" cy="266.28587500000003" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="949.3853960409613" cy="184.438975" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1076" cy="255.76225" r="2" fill="#926383" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 0.85;" fill="#efafaf" stroke="none" d="M47.66666793823242,284.579575C80.00907892638043,247.38291249999997,144.6939009026764,150.1528373598528,177.0363118908244,135.79292500000003C209.3933773470232,121.42650610985281,274.1075082594208,159.02394214659685,306.4645737156196,169.67425C338.48458640664967,180.21361714659685,402.5246117887099,225.2804258554589,434.5446244797399,220.551625C466.54998270271915,215.8249883554589,530.5606991486777,134.20594527442498,562.5660573716569,131.85250000000002C594.9084683598049,129.47427027442498,659.593290336101,180.45982624292188,691.935701324249,201.62492500000002C724.2927667804478,222.79961374292188,789.0068976928454,295.829593442623,821.3639631490443,301.21165C853.3693213720235,306.53520594262295,917.380037817982,245.32255870165747,949.3853960409613,244.44737500000002C981.0390470307209,243.58180870165748,1044.3463490102404,281.79833125,1076,294.24865L1076,326.5L47.66666793823242,326.5Z" fill-opacity="0.85"></path><path style="" fill="none" stroke="#eb6f6f" d="M47.66666793823242,284.579575C80.00907892638043,247.38291249999997,144.6939009026764,150.1528373598528,177.0363118908244,135.79292500000003C209.3933773470232,121.42650610985281,274.1075082594208,159.02394214659685,306.4645737156196,169.67425C338.48458640664967,180.21361714659685,402.5246117887099,225.2804258554589,434.5446244797399,220.551625C466.54998270271915,215.8249883554589,530.5606991486777,134.20594527442498,562.5660573716569,131.85250000000002C594.9084683598049,129.47427027442498,659.593290336101,180.45982624292188,691.935701324249,201.62492500000002C724.2927667804478,222.79961374292188,789.0068976928454,295.829593442623,821.3639631490443,301.21165C853.3693213720235,306.53520594262295,917.380037817982,245.32255870165747,949.3853960409613,244.44737500000002C981.0390470307209,243.58180870165748,1044.3463490102404,281.79833125,1076,294.24865" stroke-width="0"></path><circle cx="47.66666793823242" cy="284.579575" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="177.0363118908244" cy="135.79292500000003" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="306.4645737156196" cy="169.67425" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="434.5446244797399" cy="220.551625" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="562.5660573716569" cy="131.85250000000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="691.935701324249" cy="201.62492500000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="821.3639631490443" cy="301.21165" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="949.3853960409613" cy="244.44737500000002" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="1076" cy="294.24865" r="2" fill="#eb6f6f" stroke="#ffffff" style="" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="display: none;"></div></div>
                            </div>
                        </div>
                    </div>
                    <!--//agileinfo-grap-->

                </div>
            </div>
        </div>
        <div class="agil-info-calendar">
            <!-- calendar -->
            <div class="col-md-6 agile-calendar">
                <div class="calendar-widget">
                    <div class="panel-heading ui-sortable-handle">
					<span class="panel-icon">
                      <i class="fa fa-calendar-o"></i>
                    </span>
                        <span class="panel-title"> Calendar Widget</span>
                    </div>
                    <!-- grids -->
                    <div class="agile-calendar-grid">
                        <div class="page">

                            <div class="w3l-calendar-left">
                                <div class="calendar-heading">

                                </div>
                                <div class="monthly" id="mycalendar"><div class="monthly-header"><div class="monthly-header-title">Aug 2020</div><a href="#" class="monthly-prev"></a><a href="#" class="monthly-next"></a></div><div class="monthly-day-title-wrap"><div>Sun</div><div>Mon</div><div>Tue</div><div>Wed</div><div>Thu</div><div>Fri</div><div>Sat</div></div><div class="monthly-day-wrap"><div class="monthly-week"><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><a href="#" class="m-d monthly-day monthly-day-event" data-number="1"><div class="monthly-day-number">1</div><div class="monthly-indicator-wrap"></div></a></div><div class="monthly-week"><a href="#" class="m-d monthly-day monthly-day-event" data-number="2"><div class="monthly-day-number">2</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="3"><div class="monthly-day-number">3</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="4"><div class="monthly-day-number">4</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="5"><div class="monthly-day-number">5</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="6"><div class="monthly-day-number">6</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="7"><div class="monthly-day-number">7</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="8"><div class="monthly-day-number">8</div><div class="monthly-indicator-wrap"></div></a></div><div class="monthly-week"><a href="#" class="m-d monthly-day monthly-day-event" data-number="9"><div class="monthly-day-number">9</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="10"><div class="monthly-day-number">10</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="11"><div class="monthly-day-number">11</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event monthly-today" data-number="12"><div class="monthly-day-number">12</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="13"><div class="monthly-day-number">13</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="14"><div class="monthly-day-number">14</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="15"><div class="monthly-day-number">15</div><div class="monthly-indicator-wrap"></div></a></div><div class="monthly-week"><a href="#" class="m-d monthly-day monthly-day-event" data-number="16"><div class="monthly-day-number">16</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="17"><div class="monthly-day-number">17</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="18"><div class="monthly-day-number">18</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="19"><div class="monthly-day-number">19</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="20"><div class="monthly-day-number">20</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="21"><div class="monthly-day-number">21</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="22"><div class="monthly-day-number">22</div><div class="monthly-indicator-wrap"></div></a></div><div class="monthly-week"><a href="#" class="m-d monthly-day monthly-day-event" data-number="23"><div class="monthly-day-number">23</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="24"><div class="monthly-day-number">24</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="25"><div class="monthly-day-number">25</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="26"><div class="monthly-day-number">26</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="27"><div class="monthly-day-number">27</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="28"><div class="monthly-day-number">28</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="29"><div class="monthly-day-number">29</div><div class="monthly-indicator-wrap"></div></a></div><div class="monthly-week"><a href="#" class="m-d monthly-day monthly-day-event" data-number="30"><div class="monthly-day-number">30</div><div class="monthly-indicator-wrap"></div></a><a href="#" class="m-d monthly-day monthly-day-event" data-number="31"><div class="monthly-day-number">31</div><div class="monthly-indicator-wrap"></div></a><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div><div class="m-d monthly-day-blank"><div class="monthly-day-number"></div></div></div></div><div class="monthly-event-list"><div class="monthly-list-item" id="mycalendarday1" data-number="1"><div class="monthly-event-list-date">SAT<br>1</div></div><div class="monthly-list-item" id="mycalendarday2" data-number="2"><div class="monthly-event-list-date">SUN<br>2</div></div><div class="monthly-list-item" id="mycalendarday3" data-number="3"><div class="monthly-event-list-date">MON<br>3</div></div><div class="monthly-list-item" id="mycalendarday4" data-number="4"><div class="monthly-event-list-date">TUE<br>4</div></div><div class="monthly-list-item" id="mycalendarday5" data-number="5"><div class="monthly-event-list-date">WED<br>5</div></div><div class="monthly-list-item" id="mycalendarday6" data-number="6"><div class="monthly-event-list-date">THU<br>6</div></div><div class="monthly-list-item" id="mycalendarday7" data-number="7"><div class="monthly-event-list-date">FRI<br>7</div></div><div class="monthly-list-item" id="mycalendarday8" data-number="8"><div class="monthly-event-list-date">SAT<br>8</div></div><div class="monthly-list-item" id="mycalendarday9" data-number="9"><div class="monthly-event-list-date">SUN<br>9</div></div><div class="monthly-list-item" id="mycalendarday10" data-number="10"><div class="monthly-event-list-date">MON<br>10</div></div><div class="monthly-list-item" id="mycalendarday11" data-number="11"><div class="monthly-event-list-date">TUE<br>11</div></div><div class="monthly-list-item monthly-today" id="mycalendarday12" data-number="12"><div class="monthly-event-list-date">WED<br>12</div></div><div class="monthly-list-item" id="mycalendarday13" data-number="13"><div class="monthly-event-list-date">THU<br>13</div></div><div class="monthly-list-item" id="mycalendarday14" data-number="14"><div class="monthly-event-list-date">FRI<br>14</div></div><div class="monthly-list-item" id="mycalendarday15" data-number="15"><div class="monthly-event-list-date">SAT<br>15</div></div><div class="monthly-list-item" id="mycalendarday16" data-number="16"><div class="monthly-event-list-date">SUN<br>16</div></div><div class="monthly-list-item" id="mycalendarday17" data-number="17"><div class="monthly-event-list-date">MON<br>17</div></div><div class="monthly-list-item" id="mycalendarday18" data-number="18"><div class="monthly-event-list-date">TUE<br>18</div></div><div class="monthly-list-item" id="mycalendarday19" data-number="19"><div class="monthly-event-list-date">WED<br>19</div></div><div class="monthly-list-item" id="mycalendarday20" data-number="20"><div class="monthly-event-list-date">THU<br>20</div></div><div class="monthly-list-item" id="mycalendarday21" data-number="21"><div class="monthly-event-list-date">FRI<br>21</div></div><div class="monthly-list-item" id="mycalendarday22" data-number="22"><div class="monthly-event-list-date">SAT<br>22</div></div><div class="monthly-list-item" id="mycalendarday23" data-number="23"><div class="monthly-event-list-date">SUN<br>23</div></div><div class="monthly-list-item" id="mycalendarday24" data-number="24"><div class="monthly-event-list-date">MON<br>24</div></div><div class="monthly-list-item" id="mycalendarday25" data-number="25"><div class="monthly-event-list-date">TUE<br>25</div></div><div class="monthly-list-item" id="mycalendarday26" data-number="26"><div class="monthly-event-list-date">WED<br>26</div></div><div class="monthly-list-item" id="mycalendarday27" data-number="27"><div class="monthly-event-list-date">THU<br>27</div></div><div class="monthly-list-item" id="mycalendarday28" data-number="28"><div class="monthly-event-list-date">FRI<br>28</div></div><div class="monthly-list-item" id="mycalendarday29" data-number="29"><div class="monthly-event-list-date">SAT<br>29</div></div><div class="monthly-list-item" id="mycalendarday30" data-number="30"><div class="monthly-event-list-date">SUN<br>30</div></div><div class="monthly-list-item" id="mycalendarday31" data-number="31"><div class="monthly-event-list-date">MON<br>31</div></div></div></div>
                            </div>

                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //calendar -->
            <div class="col-md-6 w3agile-notifications">
                <div class="notifications">
                    <!--notification start-->

                    <header class="panel-heading">
                        Notification
                    </header>
                    <div class="notify-w3ls">
                        <div class="alert alert-info clearfix">
                            <span class="alert-icon"><i class="fa fa-envelope-o"></i></span>
                            <div class="notification-info">
                                <ul class="clearfix notification-meta">
                                    <li class="pull-left notification-sender"><span><a href="#">Jonathan Smith</a></span> send you a mail </li>
                                    <li class="pull-right notification-time">1 min ago</li>
                                </ul>
                                <p>
                                    Urgent meeting for next proposal
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-danger">
                            <span class="alert-icon"><i class="fa fa-facebook"></i></span>
                            <div class="notification-info">
                                <ul class="clearfix notification-meta">
                                    <li class="pull-left notification-sender"><span><a href="#">Jonathan Smith</a></span> mentioned you in a post </li>
                                    <li class="pull-right notification-time">7 Hours Ago</li>
                                </ul>
                                <p>
                                    Very cool photo jack
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-success ">
                            <span class="alert-icon"><i class="fa fa-comments-o"></i></span>
                            <div class="notification-info">
                                <ul class="clearfix notification-meta">
                                    <li class="pull-left notification-sender">You have 5 message unread</li>
                                    <li class="pull-right notification-time">1 min ago</li>
                                </ul>
                                <p>
                                    <a href="#">Anjelina Mewlo, Jack Flip</a> and <a href="#">3 others</a>
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-warning ">
                            <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                            <div class="notification-info">
                                <ul class="clearfix notification-meta">
                                    <li class="pull-left notification-sender">Domain Renew Deadline 7 days ahead</li>
                                    <li class="pull-right notification-time">5 Days Ago</li>
                                </ul>
                                <p>
                                    Next 5 July Thursday is the last day
                                </p>
                            </div>
                        </div>
                        <div class="alert alert-info clearfix">
                            <span class="alert-icon"><i class="fa fa-envelope-o"></i></span>
                            <div class="notification-info">
                                <ul class="clearfix notification-meta">
                                    <li class="pull-left notification-sender"><span><a href="#">Jonathan Smith</a></span> send you a mail </li>
                                    <li class="pull-right notification-time">1 min ago</li>
                                </ul>
                                <p>
                                    Urgent meeting for next proposal
                                </p>
                            </div>
                        </div>

                    </div>

                    <!--notification end-->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- tasks -->
        <div class="agile-last-grids">
            <div class="col-md-4 agile-last-left">
                <div class="agile-last-grid">
                    <div class="area-grids-heading">
                        <h3>Monthly</h3>
                    </div>
                    <div id="graph7" style="position: relative;"><svg height="342" version="1.1" width="299" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; top: -0.233276px;"><desc>Created with Raphaël 2.0.1</desc><defs></defs><text style="text-anchor: end; font: 12px sans-serif;" x="20.166666507720947" y="311.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M32.66666650772095,311.5H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="20.166666507720947" y="239.875" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">2</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M32.66666650772095,239.875H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="20.166666507720947" y="168.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">4</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M32.66666650772095,168.25H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="20.166666507720947" y="96.625" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">6</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M32.66666650772095,96.625H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="20.166666507720947" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">8</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M32.66666650772095,25H274" stroke-width="0.5"></path><text style="text-anchor: middle; font: 12px sans-serif;" x="274" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">04:00</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="177.46666660308838" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">01:00</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="80.93333320617675" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">23:00</tspan></text><path style="fill-opacity: 1;" fill="#a7b3bc" stroke="none" d="M32.66666650772095,96.625C56.79999985694885,132.4375,105.06666655540465,221.96875,129.19999990463256,239.875C153.33333325386047,257.78125,201.59999995231627,275.6875,225.73333330154418,239.875C237.79999997615812,221.96875,261.93333332538606,78.71875,274,25L274,311.5L32.66666650772095,311.5Z" fill-opacity="1"></path><path style="" fill="none" stroke="#7a92a3" d="M32.66666650772095,96.625C56.79999985694885,132.4375,105.06666655540465,221.96875,129.19999990463256,239.875C153.33333325386047,257.78125,201.59999995231627,275.6875,225.73333330154418,239.875C237.79999997615812,221.96875,261.93333332538606,78.71875,274,25" stroke-width="3"></path><circle cx="32.66666650772095" cy="96.625" r="4" fill="#7a92a3" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="129.19999990463256" cy="239.875" r="4" fill="#7a92a3" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="225.73333330154418" cy="239.875" r="4" fill="#7a92a3" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="274" cy="25" r="7" fill="#7a92a3" stroke="#ffffff" style="" stroke-width="1"></circle><path style="fill-opacity: 1;" fill="#2577b5" stroke="none" d="M32.66666650772095,204.0625C56.79999985694885,213.015625,105.06666655540465,226.4453125,129.19999990463256,239.875C153.33333325386047,253.3046875,201.59999995231627,311.5,225.73333330154418,311.5C237.79999997615812,305.53125,261.93333332538606,204.0625,274,168.25L274,311.5L32.66666650772095,311.5Z" fill-opacity="1"></path><path style="" fill="none" stroke="#0b62a4" d="M32.66666650772095,204.0625C56.79999985694885,213.015625,105.06666655540465,226.4453125,129.19999990463256,239.875C153.33333325386047,253.3046875,201.59999995231627,311.5,225.73333330154418,311.5C237.79999997615812,305.53125,261.93333332538606,204.0625,274,168.25" stroke-width="3"></path><circle cx="32.66666650772095" cy="204.0625" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="129.19999990463256" cy="239.875" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="225.73333330154418" cy="311.5" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="274" cy="168.25" r="7" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="left: 170px; top: 82px;"><div class="morris-hover-row-label">2013-03-31 04:00:00</div><div class="morris-hover-point" style="color: #0b62a4">
                                Y:
                                4
                            </div><div class="morris-hover-point" style="color: #7A92A3">
                                Z:
                                4
                            </div></div></div>
                    <script>
                        // This crosses a DST boundary in the UK.
                        Morris.Area({
                            element: 'graph7',
                            data: [
                                {x: '2013-03-30 22:00:00', y: 3, z: 3},
                                {x: '2013-03-31 00:00:00', y: 2, z: 0},
                                {x: '2013-03-31 02:00:00', y: 0, z: 2},
                                {x: '2013-03-31 04:00:00', y: 4, z: 4}
                            ],
                            xkey: 'x',
                            ykeys: ['y', 'z'],
                            labels: ['Y', 'Z']
                        });
                    </script>

                </div>
            </div>
            <div class="col-md-4 agile-last-left agile-last-middle">
                <div class="agile-last-grid">
                    <div class="area-grids-heading">
                        <h3>Daily</h3>
                    </div>
                    <div id="graph8" style="position: relative;"><svg height="342" version="1.1" width="299" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.333313px; top: -0.233276px;"><desc>Created with Raphaël 2.0.1</desc><defs></defs><text style="text-anchor: end; font: 12px sans-serif;" x="43.5" y="271.2733022174584" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="3.999986787770922">0</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M56,271.2733022174584H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="43.5" y="209.70497666309382" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.000005349617254">1,000</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M56,209.70497666309382H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="43.5" y="148.1366511087292" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="3.999993393885461">2,000</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M56,148.1366511087292H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="43.5" y="86.5683255543646" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="3.9999966969427305">3,000</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M56,86.5683255543646H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="43.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">4,000</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M56,25H274" stroke-width="0.5"></path><text style="text-anchor: middle; font: 12px sans-serif;" x="263.1" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-130.4378,400.2291)"><tspan dy="3.999986787770922">2016-09-10</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="241.3" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-141.3378,381.3497)"><tspan dy="3.999986787770922">2016-09-15</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="219.5" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-152.2378,362.4704)"><tspan dy="3.999986787770922">2016-09-16</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="197.7" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-163.1378,343.591)"><tspan dy="3.999986787770922">2016-09-17</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="175.9" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-174.0378,324.7116)"><tspan dy="3.999986787770922">2016-09-18</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="154.1" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-184.9377,305.8323)"><tspan dy="3.999986787770922">2016-09-19</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="132.3" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-195.8377,286.9529)"><tspan dy="3.999986787770922">2016-09-20</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="110.5" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-206.7378,268.0736)"><tspan dy="3.999986787770922">2016-09-29</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="88.7" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-217.6378,249.1942)"><tspan dy="3.999986787770922">2016-09-30</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="66.9" y="283.7733022174584" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(0.5,-0.866,0.866,0.5,-228.5378,230.3149)"><tspan dy="3.999986787770922">2016-10-01</tspan></text><rect x="58.725" y="61.51001705373821" width="6.675000000000001" height="209.7632851637202" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="68.4" y="230.6382073515778" width="6.675000000000001" height="40.63509486588063" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="80.52499999999999" y="64.95784328478263" width="6.675000000000001" height="206.3154589326758" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="90.19999999999999" y="232.54682544376308" width="6.675000000000001" height="38.72647677369534" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="102.32499999999999" y="70.00644598024053" width="6.675000000000001" height="201.2668562372179" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="111.99999999999999" y="233.2240770248611" width="6.675000000000001" height="38.04922519259733" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="124.125" y="71.42251746799093" width="6.675000000000001" height="199.8507847494675" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="133.8" y="230.57663902602343" width="6.675000000000001" height="40.69666319143499" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="145.92499999999998" y="70.74526588689292" width="6.675000000000001" height="200.5280363305655" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="155.6" y="230.20722907269723" width="6.675000000000001" height="41.06607314476119" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="167.725" y="71.2993808168822" width="6.675000000000001" height="199.97392140057622" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="177.4" y="232.6699620948718" width="6.675000000000001" height="38.603340122586616" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="189.525" y="76.04014188456827" width="6.675000000000001" height="195.23316033289015" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="199.20000000000002" y="230.6382073515778" width="6.675000000000001" height="40.63509486588063" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="211.325" y="76.04014188456827" width="6.675000000000001" height="195.23316033289015" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="221" y="229.65311414270795" width="6.675000000000001" height="41.62018807475047" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="233.125" y="74.19309211793734" width="6.675000000000001" height="197.08021009952108" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="242.8" y="230.88448065379524" width="6.675000000000001" height="40.388821563663186" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="254.925" y="73.33113556017622" width="6.675000000000001" height="197.9421666572822" r="0" rx="0" ry="0" fill="#0b62a4" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="264.6" y="232.97780372264364" width="6.675000000000001" height="38.29549849481478" r="0" rx="0" ry="0" fill="#7a92a3" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect></svg><div class="morris-hover morris-default-style" style="left: 198px; top: 136px;"><div class="morris-hover-row-label">2016-09-10</div><div class="morris-hover-point" style="color: #0b62a4">
                                Licensed:
                                3,215
                            </div><div class="morris-hover-point" style="color: #7a92a3">
                                SORN:
                                622
                            </div></div></div>
                    <script>
                        /* data stolen from http://howmanyleft.co.uk/vehicle/jaguar_'e'_type */
                        var day_data = [
                            {"period": "2016-10-01", "licensed": 3407, "sorned": 660},
                            {"period": "2016-09-30", "licensed": 3351, "sorned": 629},
                            {"period": "2016-09-29", "licensed": 3269, "sorned": 618},
                            {"period": "2016-09-20", "licensed": 3246, "sorned": 661},
                            {"period": "2016-09-19", "licensed": 3257, "sorned": 667},
                            {"period": "2016-09-18", "licensed": 3248, "sorned": 627},
                            {"period": "2016-09-17", "licensed": 3171, "sorned": 660},
                            {"period": "2016-09-16", "licensed": 3171, "sorned": 676},
                            {"period": "2016-09-15", "licensed": 3201, "sorned": 656},
                            {"period": "2016-09-10", "licensed": 3215, "sorned": 622}
                        ];
                        Morris.Bar({
                            element: 'graph8',
                            data: day_data,
                            xkey: 'period',
                            ykeys: ['licensed', 'sorned'],
                            labels: ['Licensed', 'SORN'],
                            xLabelAngle: 60
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-4 agile-last-left agile-last-right">
                <div class="agile-last-grid">
                    <div class="area-grids-heading">
                        <h3>Yearly</h3>
                    </div>
                    <div id="graph9" style="position: relative;"><svg height="342" version="1.1" width="299" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.666626px; top: -0.233276px;"><desc>Created with Raphaël 2.0.1</desc><defs></defs><text style="text-anchor: end; font: 12px sans-serif;" x="26.833333015441895" y="311.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">0</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M39.333333015441895,311.5H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="26.833333015441895" y="239.875" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">10</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M39.333333015441895,239.875H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="26.833333015441895" y="168.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">20</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M39.333333015441895,168.25H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="26.833333015441895" y="96.625" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">30</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M39.333333015441895,96.625H274" stroke-width="0.5"></path><text style="text-anchor: end; font: 12px sans-serif;" x="26.833333015441895" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4">40</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M39.333333015441895,25H274" stroke-width="0.5"></path><text style="text-anchor: middle; font: 12px sans-serif;" x="274" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">X</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="221.8518517812093" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">VIII</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="169.7037035624186" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">VI</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="117.55555534362793" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">IV</tspan></text><text style="text-anchor: middle; font: 12px sans-serif;" x="65.40740712483723" y="324" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.25)"><tspan dy="4">II</tspan></text><path style="" fill="none" stroke="#0b62a4" d="M39.333333015441895,67.97500000000002C45.851851542790726,85.88125000000002,58.8888885974884,111.84531250000003,65.40740712483723,139.60000000000002C71.92592565218607,167.3546875,84.96296270688374,279.26875,91.48148123423258,290.0125C97.99999976158142,300.75624999999997,111.03703681627908,234.503125,117.55555534362793,225.55C124.07407387097676,216.596875,137.11111092567444,227.340625,143.62962945302326,218.3875C150.1481479803721,209.434375,163.18518503506976,146.76250000000002,169.7037035624186,153.925C176.22222208976746,161.0875,189.25925914446512,279.26875,195.77777767181396,275.6875C202.29629619916278,272.10625,215.33333325386047,131.5421875,221.8518517812093,125.275C228.37037030855814,119.0078125,241.4074073632558,219.2828125,247.92592589060465,225.55C254.4444444179535,231.81718750000002,267.4814814726512,187.946875,274,175.4125" stroke-width="3"></path><circle cx="39.333333015441895" cy="67.97500000000002" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="65.40740712483723" cy="139.60000000000002" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="91.48148123423258" cy="290.0125" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="117.55555534362793" cy="225.55" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="143.62962945302326" cy="218.3875" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="169.7037035624186" cy="153.925" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="195.77777767181396" cy="275.6875" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="221.8518517812093" cy="125.275" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="247.92592589060465" cy="225.55" r="4" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle><circle cx="274" cy="175.4125" r="7" fill="#0b62a4" stroke="#ffffff" style="" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="left: 234px; top: 107px;"><div class="morris-hover-row-label">X</div><div class="morris-hover-point" style="color: #0b62a4">
                                value:
                                19
                            </div></div></div>
                    <script>
                        var day_data = [
                            {"elapsed": "I", "value": 34},
                            {"elapsed": "II", "value": 24},
                            {"elapsed": "III", "value": 3},
                            {"elapsed": "IV", "value": 12},
                            {"elapsed": "V", "value": 13},
                            {"elapsed": "VI", "value": 22},
                            {"elapsed": "VII", "value": 5},
                            {"elapsed": "VIII", "value": 26},
                            {"elapsed": "IX", "value": 12},
                            {"elapsed": "X", "value": 19}
                        ];
                        Morris.Line({
                            element: 'graph9',
                            data: day_data,
                            xkey: 'elapsed',
                            ykeys: ['value'],
                            labels: ['value'],
                            parseTime: false
                        });
                    </script>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //tasks -->
        <div class="agileits-w3layouts-stats">
            <div class="col-md-4 stats-info widget">
                <div class="stats-info-agileits">
                    <div class="stats-title">
                        <h4 class="title">Browser Stats</h4>
                    </div>
                    <div class="stats-body">
                        <ul class="list-unstyled">
                            <li>GoogleChrome <span class="pull-right">85%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar green" style="width:85%;"></div>
                                </div>
                            </li>
                            <li>Firefox <span class="pull-right">35%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar yellow" style="width:35%;"></div>
                                </div>
                            </li>
                            <li>Internet Explorer <span class="pull-right">78%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar red" style="width:78%;"></div>
                                </div>
                            </li>
                            <li>Safari <span class="pull-right">50%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar blue" style="width:50%;"></div>
                                </div>
                            </li>
                            <li>Opera <span class="pull-right">80%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar light-blue" style="width:80%;"></div>
                                </div>
                            </li>
                            <li class="last">Others <span class="pull-right">60%</span>
                                <div class="progress progress-striped active progress-right">
                                    <div class="bar orange" style="width:60%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 stats-info stats-last widget-shadow">
                <div class="stats-last-agile">
                    <table class="table stats-table ">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>PRODUCT</th>
                            <th>STATUS</th>
                            <th>PROGRESS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Lorem ipsum</td>
                            <td><span class="label label-success">In progress</span></td>
                            <td><h5>85% <i class="fa fa-level-up"></i></h5></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Aliquam</td>
                            <td><span class="label label-warning">New</span></td>
                            <td><h5>35% <i class="fa fa-level-up"></i></h5></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Lorem ipsum</td>
                            <td><span class="label label-danger">Overdue</span></td>
                            <td><h5 class="down">40% <i class="fa fa-level-down"></i></h5></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Aliquam</td>
                            <td><span class="label label-info">Out of stock</span></td>
                            <td><h5>100% <i class="fa fa-level-up"></i></h5></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Lorem ipsum</td>
                            <td><span class="label label-success">In progress</span></td>
                            <td><h5 class="down">10% <i class="fa fa-level-down"></i></h5></td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Aliquam</td>
                            <td><span class="label label-warning">New</span></td>
                            <td><h5>38% <i class="fa fa-level-up"></i></h5></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </section>
    </section>
{% endblock %}
