{% extends 'Adminbase.html.twig' %}

{% block title %}Edit Araba{% endblock %}

{% block body %}
<div class="agileinfo-grap">

    <header class="panel-heading">
        Edit Car
    </header>

    {{ include('admin/araba/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_araba_index') }}">back to list</a>

    {{ include('admin/araba/_delete_form.html.twig') }}
</div>
{% endblock %}
