{% extends 'Adminbase.html.twig' %}

{% block title %}New Araba{% endblock %}

{% block body %}
<div class="agileinfo-grap">
    <header class="panel-heading">
        Create New Car
    </header>

    {{ include('admin/araba/_form.html.twig') }}

    <a href="{{ path('admin_araba_index') }}">back to list</a>
</div>
{% endblock %}
