{% extends 'base.html.twig' %}

{% block title %}Edit AdminComment{% endblock %}

{% block body %}
    <h1>Edit AdminComment</h1>

    {{ include('admin_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_comment_index') }}">back to list</a>

    {{ include('admin_comment/_delete_form.html.twig') }}
{% endblock %}
