{% extends 'adminbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<section id="main-content">
    <section class="wrapper">
    <h1>Create new Category</h1>
        {{  include('admin/category/_form.html.twig') }}


    <a href="{{ path('category_index') }}">back to list</a>
    </section>
    </section>
{% endblock %}
