{% extends 'adminbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="agileinfo-grap">

<header class="panel-heading">
       Crate New Category
    </header>
        {{  include('admin/category/_form.html.twig') }}


    <a class="btn btn-warning" href="{{ path('category_index') }}">back to list</a>
</div>

{% endblock %}
