<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}{% include('sevim_gallery/head.html.twig') %}{% endblock %}
    </head>
    <body>



    {% block header %}{% include('sevim_gallery/header.html.twig') %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% include('sevim_gallery/footer.html.twig') %}{% endblock %}




    </body>
</html>
