

<!-- Sidebar Area Start -->
<div class="col-lg-4">
    <div class="sidebar-content-wrap">
        <!-- Single Sidebar Start -->
        <div class="single-sidebar">
            <h3>Actions</h3>
             <br>
            <center>
                <img style="width:100%;height: 100%; max-height: 250px;max-width: 250px; " src="{{ asset('uploads/images/'~app.user.image) }}"><br><br>
                <p class="btn-dark ">{{ app.user.name }} {{ app.user.surname }}</p>
            </center>


            <div class="sidebar-body">

                <p><a class="btn btn-dark" href="/user"><i class="fa fa-user-circle"></i>My Profile</a> </p>
                <br>
                <p><a class="btn btn-dark" href="/user/resevations"><i class="fa fa-book"></i>My Reservations</a> </p>
                <br>
                <p><a class="btn btn-dark" href="/user/comments"><i class="fa fa-comment"></i>My Comments</a> </p>
                <br>
                <p><a class="btn btn-dark" href="/user/comments"><i class="fa fa-car"></i>My Cars</a> </p>
            </div>
        </div>
        <!-- Single Sidebar End -->
    </div>
</div>
<!-- Sidebar Area End -->